.container{
    margin:0px 75px;
}

.header{
    display:flex;
    justify-content: space-around;
}

.header-list{
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap:16px;
    align-items:center;
}

.top-fourth-mid{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.top-fourth-mid-left{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    margin-bottom: 32px;
}

.top-fourth-mid-right{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-fourth{
    background-color: #1F2937;
    color: #F9FaF8;
    min-height: 25em;
}

.second{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    min-height: 25em;
    background-color: #F9FaF8;
    padding-bottom: 100px;
}

.second-bottom{
    display:flex;
    gap:24px;
}

.second-text{
    display:flex;
    gap:24px;
    
}

.third-fromtop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    min-height: 25em;
}

.third-quote{
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
}
.third-source{
    display: flex;
    justify-content: flex-end;
    margin-right: 25em;
    margin-top: -32px;
    font-weight: bolder;
}

.fourth{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25em;
    background-color: #F9FaF8;
}

.fourth-content{
    display:flex;
    gap:64px;
    background-color: #3882F6;
    padding: 24px 100px;
    border-radius: 10px;
    color: white;
}

.fourth-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fourth-right{
    display: flex;
    align-items: center;
}

.defaultbutton{
  background-color: inherit;
  padding:6px 24px;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  font-weight: bold;
}

.footer{
    display:flex;
    background-color: #1F2937;
    color: #E5E7EB;
    min-height: 5em;
    justify-content: center;
    align-items: center;
}